weekly progress/week_2/scheme.rnc

start = paper

paper = element paper {
    title, 
    authors, 
    abstract, 
    keywords*,
    else+,
    methods,
    results,
    references 
}

title=element title{text}

authors=element authors{text}

abstract=element abstract{text}

keywords=element keywords{text}

methods=element methods{text}

results=element results{text}

references=element references{text}

else=element else{text}